$slate-5: #f2f2f2;
$slate-10: #e3e3e4;
$slate-20: #c7c8ca;
$slate-30: #abacaf;
$slate-40: #8f9195;
$slate-50: #74767b;
$slate-60: #585b5f;
$slate-70: #454649;
$slate-80: #2e2f31;
$slate-90: #171718;

$cerulean-10: #d4e7f2;
$cerulean-30: #66afd7;
$cerulean-70: #004971;
$dark-blue-60: #385ca8;
$dark-blue-70: #263f6e;
$dark-blue-80: #1a2f5b;

$cranberry-10: #fde2ea;
$cranberry-20: #f1c5d2;
$cranberry-30: #e39eb1;
$cranberry-40: #d66e8a;
$cranberry-50: #d13d64;
$cranberry-60: #bb0e3d;
$cranberry-70: #700824;

$teal-5: #d1faf7;
$teal-10: #c6eaeb;
$teal-20: #a3dce0;
$teal-30: #44bfc6;
$teal-40: #28a1a9;
$teal-50: #2c8187;
$teal-60: #15696f;

$gold-warm-10: #f4e5c3;
$gold-warm-20: #f4c82a;
$gold-warm-30: #d9a01c;
$gold-warm-40: #d5a129;
$gold-warm-50: #996e0a;
$gold-warm-60: #7d5b14;

$base-lightest: $slate-5;
$base-lighter: $slate-10;
$base-light: $slate-30;
$base: $slate-50;
$base-dark: $slate-60;
$base-darker: $slate-70;
$base-darkest: $slate-90;
$ink: $slate-90;
$primary-lighter: $cerulean-10;
$primary-light: $cerulean-30;
$primary: $dark-blue-60;
$primary-vivid: $dark-blue-60;
$primary-dark: $cerulean-70;
$primary-darker: $dark-blue-80;
$secondary-lighter: $cranberry-10;
$secondary-light: $cranberry-30;
$secondary: $cranberry-50;
$secondary-vivid: $cranberry-50;
$secondary-dark: $cranberry-60;
$secondary-darker: $cranberry-70;
$accent-cool-lighter: $teal-5;
$accent-cool-light: $teal-20;
$accent-cool: $teal-30;
$accent-cool-dark: $teal-40;
$accent-cool-darker: $teal-60;
$accent-warm-lighter: $gold-warm-10;
$accent-warm-light: $gold-warm-20;
$accent-warm: $gold-warm-30;
$accent-warm-dark: $gold-warm-40;
$accent-warm-darker: $gold-warm-50;

$box-shadow: inset 0 0 0 2px;
